<div class="main-panel" [ngClass]="{'is-slid': !!inputData}">

    <a (click)="onCloseClicked()" style="position:absolute;left:0;top:0;">
      <i class="fa fa-times-circle fa-5x" aria-hidden="true" ></i>
    </a>

    <div *ngIf="inputData" [ngSwitch]="inputData.node.group">
        <prm *ngSwitchCase="'prm'" [content]="inputData.node.data"></prm>
        <tdm *ngSwitchCase="'tdm'" [content]="inputData.node.data"></tdm>
        <ntm *ngSwitchCase="'ntm'" [content]="inputData.node.data"></ntm>
        <txt *ngSwitchCase="'txt'" [content]="inputData.node.data"></txt>
    </div>
</div>
