.prmBody {
  background-color: #d9f5e9;
}

.headTitle {
  background-color: #2FC5F5;
  color: white;
}

.organization {
  color: cornsilk;
}

.itemsList{
  font-size:16px;
  color: #00001d !important;
}

dt label a {
  font-size:16px;
  color: #000076 !important;
  word-wrap: break-word;
  white-space: normal;
}
