<div class="container prmBody">
  <div class="jumbotron headTitle">
    <h1>{{data["bf:InstanceTitle"]}}</h1>
    <h4 class="organization pull-right">{{data["Organization"]}}</h4>
  </div>
  <br><br>
  <div>
    <div class="col-xs-6 itemsList">
      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="http://bibfra.me/vocab/lite/creator">Creator:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href='{{data["bf:Person"][0]["@id"]}}'>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  {{data["bf:Person"][0]["rdfs:label"]}}
                </a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="http://bibfra.me/vocab/lite/contributor">Contributor:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li *ngFor='let item of data["bf:Person"]| slice:1' >
                <a href='{{item["@id"]}}'>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  {{item["rdfs:label"]}}
                </a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Content:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href='{{data["bf:Content"]["@id"]}}'>{{data["bf:Content"]["rdfs:label"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Organization:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href='{{data["bf:Organization"]["@id"]}}'>{{data["bf:Organization"]["rdfs:label"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Extent:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href="#">{{data["bf:extent"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Illustrative Content:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href="#">{{data["bf:illustrativeContent"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Instance of:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href='{{data["bf:instanceOf"]["@id"]}}'>{{data["bf:instanceOf"]["@id"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="" *ngIf="data['OtherInstances']">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Other Instances:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li *ngFor="let item of data['OtherInstances']; let i=index">
                <a href='{{item}}'>Instance {{i+1}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Note:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li *ngFor='let item of data["bf:Note"]' >
                <a href="#">
                <i class="fa fa-chevron-right fa-fw"></i>
                {{item["rdfs:label"]}}
                </a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Provision Activity Statement:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href="#">{{data["bf:provisionActivityStatement"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Series Statement:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href="#">{{data["bf:seriesStatement"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Sound Content:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li>
                <a href="#">{{data["bf:soundContent"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Related Persons:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li *ngFor='let item of data["relatedPersons"]'>
                <a href='{{item["@id"]}}'>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  {{item["rdfs:label"]}}
                </a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>

      <div class="">
        <dl class="dl-horizontal">
          <dt>
            <label>
              <a href="#">Related Places:</a>
            </label>
          </dt>
          <dd>
            <ul class="list-unstyled">
              <li *ngFor="let item of data.relatedPlaces">
                <a href='{{item["@id"]}}'>
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  {{item["rdfs:label"]}}</a>
              </li>
            </ul>
          </dd>
        </dl>
      </div>


    </div>
    <div class="col-xs-6">
      <iframe width="100%" height="450" scrolling="no" frameborder="no"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/210387165&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true">
      </iframe>

      <div class="uiowa">
        <a href="http://www.lib.uiowa.edu/">
          <img src="../../../assets/imgs/uidome-uiwordmark-libraries.png" class="uiLibrary" >
        </a>

        <a href='{{data.InfoHawkPlus["@id"]}}'>
          <img src="../../../assets/imgs/ihp-wordmark-full_w.png" class="infoHawkPlus" >
        </a>
        <a href='{{data.InfoHawkPlus["@id"]}}'>
         <p> Connect to the University of Iowa Libraries' Online Catalog</p>
        </a>
      </div>
    </div>
  </div>
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="onBtnClicked()">Return to Opera Network</button>
    <br><br>
  </div>

</div>


