:host {
    position: relative;
}

graph-component {
    width:100%;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.imgBanner{
  background-image:
    linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/imgs/OPERA-HOUSE.jpg");
}

.operaHeader{
    padding: 20px;
    color: azure;
    background-size: cover;
    margin: 0;

    order: 0;
    flex: 0 1 auto;
    align-self: auto;
}


.container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
    padding:0;
    height: 100%;
    width:100%;
}





